<%= render 'shared/errors', obj: @article %>
<%= form_with(model: @article, local: true) do |f| %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>

<p>
  <%= f.label :category %><br>
  <%= f.collection_select(:category_ids, Category.all, :id, :name,
     { prompt: "Please choose from the list below "}, { multiple: true, size: 5 }) %>
</p>
 

<% if current_user.admin? %>

<br>

    <p>Or Create a New Category:</p>

    <%= f.fields_for :categories, Category.new do |category_attributes|%>

        <%= category_attributes.label :name, "Category Name:" %>

        <%= category_attributes.text_field :name %>

    <% end %> 

<br>

<% end %>

<br>
<p>
 <%= f.submit %><br>
 </p>

<% end %>
